{% if categories %}
<nav id="menu" class="navbar nobg">
    <div class="container">
        <!--     <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div> -->
        <div class=" navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <!-- Mega Menu Custom -->
                <!-- Mega Menu Custom -->
                <li class="megamenucustom">
                    <a href=""><i class="fa fa-bars"></i> Departamentos</a>
                    <div class="megamenucustom-dropdown">
                        <div class="container">
                            <ul>
                                {% for categoryround in categories|batch(categories|length / 4|round(1, 'ceil')) %}
                                <div class="col-xs-12 col-md-3">
                                    <ul>
                                        {% for category in categoryround %}
                                        <li class=""><a href="{{ category.href }}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Mega Menu Custom -->
                <!-- Mega Menu Custom -->

                <li><a href="/">Início</a></li>
                <li><a href="/quem-somos">Quem Somos</a></li>
                <li><a href="{{ special }}">Promoções</a></li>

            </ul>
        </div>
    </div>
</nav>
{% endif %}


<script>
    // Script Mega Menu Custom
    // Script Mega Menu Custom
    $(function() {
        $(".megamenucustom").hover(
            function() {
                //Ao posicionar o cursor sobre a div
                setTimeout(function() {
                    $('body').addClass('megamenucustom-overlay');
                }, 100);
            },
            function() {
                //Ao remover o cursor da div
                setTimeout(function() {
                    $('body').removeClass('megamenucustom-overlay');
                }, 100);
            }
        );
    });
    // Script Mega Menu Custom
    // Script Mega Menu Custom
</script>